/* Header.css */
header {
  padding: 2rem;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eaeaea;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #666;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #666666;
}
